/*Zerar todos os estilos para começar do zero*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}


/*Primeira Tela*/
.matches{
    width: 25%;
    height: 100vh;
    background-color: #ffffff;
}

/*Segunda Tela*/
.segundaTela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: #F0F2F4;
    height: 100vh;

}

/*Cabeçalho da primeira Tela*/
header{ 
    background-image: linear-gradient(to right, #ff0560,rgb(255, 81, 0));
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #ffffff;
}
 
/*Esquerda do cabeçalho*/
.parte1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000034;
    border-radius: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    
}

/**Direita do cabeçalho*/
.parte2{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.icone{
    height: 30px;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.185);
    text-align: center;
    border-radius: 15px;
}

.imgPerfil{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 5px;
}

/*Aba da primeira tela*/
.aba{
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-weight: bold;
}

/*Colocar o underline na aba aberta*/
.aba1{
    margin-right: 15px;
    border-bottom: #FF5001 solid;
}

h1 {
    font-size: 20px;
    margin: 20px;
}

/*Parte com a mensagem primeira Tela*/
.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.imagem{
    background-image: linear-gradient(to right, #ff0560,rgb(255, 81, 0));
    height: 150px;
    width: 90px;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*Parte com o perfil na segunda tela*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

/*Tela de perfil*/
.perfil{
    width: 300px;
    height: 550px;
    margin-left: 50px;
    border-radius: 10px;
    background-image: url(./assents/imagem1.jpg);
    background-size: cover;
    background-position: center;
}

/*Para as informações ficarem na parte inferior da tela de perfil*/
.fotos{
    height: 60%;
}

/*Parte com as informações*/
.informacao{
    padding: 5px 15px 20px 10px;
    background-color: rgba(0, 0, 0, 0.281);

}

.nome{ 
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 5px;
    color: #ffffff;
    text-align: left;
    
}
h1.nome{
    font-size: 23px;
    margin-right: 5px;
    font-weight: bold;
}


.verificado{
    height: 20px;
}

.online{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.bolinhaVerde{
    height: 8px;
    width: 8px;
    background-color:  #2EF78A;
    border-radius: 4px;
}

.curso {
    display: flex;
    text-align:left;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
}

/*Rodapé da tela de perfil*/
.footer{
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 89px;
    border-radius: 0 0 10px 10px;
}

.icone1{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #fff;
}
.icone2{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #C62C1E;
}
.icone3{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #30F3EF;
}
.icone4{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #2DF187;
}
.icone5{
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #BA52F5;
}


/*Rodapé da página total*/
footer{
    width: 100%;
    height: 15%;
    background-color: #F0F2F4;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.separacao{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p, .botao{
    margin: 5px;
}

/*criar o símbolo de espaço*/
.espaco{
    padding: 8px 40px;
    border: solid gray 4px;
    border-radius: 9px;
    margin-bottom: 5px;
}

button{
    color: #fff;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: #C4C8CD;
    border: none;
    font-weight: bold;
}
